{% extends 'base.html.twig'%}
 {% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/style.css') }}"/>
{% endblock %}
{% block body %}
    <div class="galleryContainer">
        <div class="slideShowContainer">
            <svg onclick="plusSlides(-1)" id="prevBtn" width="30px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-left" class="svg-inline--fa fa-arrow-left fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M257.5 445.1l-22.2 22.2c-9.4 9.4-24.6 9.4-33.9 0L7 273c-9.4-9.4-9.4-24.6 0-33.9L201.4 44.7c9.4-9.4 24.6-9.4 33.9 0l22.2 22.2c9.5 9.5 9.3 25-.4 34.3L136.6 216H424c13.3 0 24 10.7 24 24v32c0 13.3-10.7 24-24 24H136.6l120.5 114.8c9.8 9.3 10 24.8.4 34.3z">
                </path>
            </svg>

            <svg onclick="plusSlides(1)" id="nextBtn" width="30px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="arrow-right" class="svg-inline--fa fa-arrow-right fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512">
                <path fill="currentColor" d="M190.5 66.9l22.2-22.2c9.4-9.4 24.6-9.4 33.9 0L441 239c9.4 9.4 9.4 24.6 0 33.9L246.6 467.3c-9.4 9.4-24.6 9.4-33.9 0l-22.2-22.2c-9.5-9.5-9.3-25 .4-34.3L311.4 296H24c-13.3 0-24-10.7-24-24v-32c0-13.3 10.7-24 24-24h287.4L190.9 101.2c-9.8-9.3-10-24.8-.4-34.3z">
                </path>
            </svg>
            <div class="captionHolder"><p class="captionText slideTextFromTop"></p></div>
            <div class="imageHolder">
                <img src="{{ asset('img/cover1.jpg') }}"/>
                <p class="captionText">Welcome on my fucking final project !!!</p>
            </div>
                <div class="imageHolder">
                    <a href="{{ absolute_url(path('show_artwork', {'id': 9 })) }}">
                        <img src="https://www.leparisien.fr/resizer/q7NKWnda1Z_1Z8XGwYcqHl9hboc=/932x582/arc-anglerfish-eu-central-1-prod-leparisien.s3.amazonaws.com/public/D5IW7L4JW5OZ7ZWJUK3BKA3ALE.jpg"/>
                    </a>
                    <p class="captionText">Coronavirus : l'artiste urbain C215 met en vente des tirages de sa dernière œuvre au profit de la Fondation Hôpitaux de France</p>
                </div>
            
            <div class="imageHolder">
                <img src="{{ asset('img/grems3.jpg') }}"/>
                <p class="captionText">Image 3</p>
            </div>
            <div class="imageHolder">
                <img src="{{ asset('img/grems4.jpg') }}"/>
                <p class="captionText">Image 4</p>
            </div>
            <div class="imageHolder">
                <img src="{{ asset('img/grems5.jpg') }}">
                <p class="captionText">Image 5</p>
            </div>
        </div>
    </div>
{% endblock %}

 {% block javascripts %}
    <script src="{{ asset('js/app.js')}}"></script>
{% endblock %}
