{% extends 'base.html.twig'%}

 {% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/artistPage.css') }}"/>
{% endblock %}


{% block body %}
<div class="artist-container">
<div class="left">
    <img src="{{ artiste.image }}" alt="Elephant at sunset">
    <div class="followArtist">
        <h4> Nombre de Followers: {{artiste.followers|length}} 
         {% if app.user %}
            {% if artiste.followers != app.user %}
                <a href="{{path('follow', {"id": artiste.id})}}">Suivre </a></h4>
            {% else %}
                <a href="{{path('removeFollow', {"id": artiste.id})}}">Ne plus suivre </a></h4>
            {% endif %}
        {% endif %}
    </div>  
</div>

<div class="right">
    <h1>{{ artiste.name }}</h1>
    <div class="underName"></div>
    {{ artiste.content | raw }}
</div>
</div>

<div class="gallery-container">
    <div class="inner-width">
        <h2> Galerie </h2>
        <div class="gallery">
       
                {% for picture in artiste.artworks %}
                    <a href="{{ path('show_artwork',{'id': picture.id}) }}" class="image">
                        <img src='{{picture.picture}}' >
                    </a>
                {% endfor %}
        </div>
    </div>    
</div>

{% endblock %}