{% extends 'base.html.twig'%}

 {% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/artistPage.css') }}"/>
{% endblock %}


{% block body %}
 <div class="content" style ="background-image: url('{{ asset('img/thomas-heintz-unsplash.jpg') }}')">
    <div class="artist-container">
    <div class="artistLeft">
        <img src="{{ artiste.image }}" alt="Elephant at sunset">
        <div class="followArtist">
            <h4> Nombre de Followers: {{artiste.follower|length}} 
            {% if app.user %}
                {% if app.user not in artiste.follower %}
                    <a href="{{path('follow', {"id": artiste.id})}}" class="follow">Suivre </a></h4>
                {% else %}
                    <a href="{{path('removeFollow', {"id": artiste.id})}}" class="follow">Ne plus suivre </a></h4>
                {% endif %}
            {% endif %}
        </div>  
    </div>

    <div class="artistRight">
        <h1>{{ artiste.name }}</h1>
        <div class="underName"></div>
        <p>{{ artiste.content | raw }}</p>
    </div>
    </div>

    <div class="gallery-container">
        <h2 class="gallery">Galerie</h2>
        <div class="container">
            {% for picture in artiste.artworks %}
                <div class="artwork-img">
                    <a href="{{ path('show_artwork',{'id': picture.id}) }}">
                        <img src='{{picture.picture}}' >
                    </a>
                </div>
            {% endfor %}
        </div>
    </div>
</div>


{% endblock %}