{% extends 'base.html.twig'%}

{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/artwork.css') }}"/>
 <link rel="stylesheet" type="text/css" href="{{ asset('css/map.css') }}"/>
 <link rel="stylesheet" href="https://unpkg.com/leaflet@1.6.0/dist/leaflet.css" integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ==" crossorigin=""/>
 <link rel="stylesheet"  href="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.css"  />
{% endblock %}

{% block body %}
<div id="fb-root"></div>
<script async defer crossorigin="anonymous" src="https://connect.facebook.net/fr_FR/sdk.js#xfbml=1&version=v7.0" nonce="zgFpJlFG"></script>
<div class="bloc-container" style ="background-image: url('{{ asset('img/thomas-heintz-unsplash.jpg') }}')">
    <div class="imgDesc">
        <div class="artworkImg">
            <img src="{{ artwork.picture }}" alt="">
            <div class="fb-share-button" data-href="https://ourstreet.julybrisson.com/artwork//id={{ artwork.id }}}" data-layout="button" data-size="large"><a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=https%3A%2F%2Fdevelopers.facebook.com%2Fdocs%2Fplugins%2F&amp;src=sdkpreparse" class="fb-xfbml-parse-ignore">Partager</a></div>
        </div>
        <div class="about-artwork">
            <div class="artworkName">
                <h2 class="artistName" > 
                    {% for artiste in artwork.artistes %}
                        <a href="{{ path('show_artiste',{'id': artiste.id}) }}">{{ artiste.name }}</a>
                    {% endfor %}
                </h2>
                <div class="underName"></div>
                <h1>{{ artwork.name }}</h1>
                <p class="about-content">{{ artwork.description }}</p> </div>
                <div class="likeContainer">
                    {% if app.user %}
                        {% if artwork.users|length > 0 %}
                            <h5 class="like-count"> + {{artwork.users|length}} </h5>
                        {% else %}
                            <h5 class="like-count"> {{artwork.users|length}} </h5>
                        {% endif %}

                        {% if app.user not in artwork.users %}
                            <a href="{{path('like', {"id": artwork.id})}}">
                                <svg width="25px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="grey" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
                            </a>
                        {% else %}
                        
                            <a href="{{path('unlike', {'id': artwork.id})}}">
                                <svg width="25px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="red" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
                            </a>
                        {% endif %}
                    {% else %}
                        {% if artwork.users|length > 0 %}
                            <h5 class="like-count"> + {{artwork.users|length}} </h5>
                        {% else %}
                            <h5 class="like-count"> {{artwork.users|length}} </h5>
                        {% endif %}
                        <a href="#" role="button" aria-haspopup="dialog" aria-controls="dialog">
                                <svg width="25px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="grey" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
                        </a>
                        
                    {% endif %}
                </div>
            </div>
        </div>
    <div class="commentMap">
        <div class="Comment">
            <div class="comment-container">
                <h4>{{artwork.comments | length}} Commentaires:</h4>
                {% for comment in artwork.comments %}
                    <div class="comment-content">
                    <strong> {{ comment.user.name}}</strong> (<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
                        {{ comment.content | raw }}
                        {% if app.user == comment.user  %}
                            <a href="{{path('removeComment', {"id": comment.id})}}">
                                <svg class="deleteComment "aria-hidden="true" focusable="false" data-prefix="far" data-icon="trash-alt" class="svg-inline--fa fa-trash-alt fa-w-14" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 448 512"><path fill="currentColor" d="M268 416h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12zM432 80h-82.41l-34-56.7A48 48 0 0 0 274.41 0H173.59a48 48 0 0 0-41.16 23.3L98.41 80H16A16 16 0 0 0 0 96v16a16 16 0 0 0 16 16h16v336a48 48 0 0 0 48 48h288a48 48 0 0 0 48-48V128h16a16 16 0 0 0 16-16V96a16 16 0 0 0-16-16zM171.84 50.91A6 6 0 0 1 177 48h94a6 6 0 0 1 5.15 2.91L293.61 80H154.39zM368 464H80V128h288zm-212-48h24a12 12 0 0 0 12-12V188a12 12 0 0 0-12-12h-24a12 12 0 0 0-12 12v216a12 12 0 0 0 12 12z"></path></svg>
                            </a>
                        {% endif %}
                        </br>
                    </div>
                {% endfor %}
                {% if app.user %}
                    <button class="btn-comment" id="btn-comment">Commenter</button>
                    <div class="pushComment">
                        {{form_start(commentForm)}}
                        {{form_row(commentForm.content, {'label':' ', 'attr': {'placeholder': "Ajouter un commentaire"}})}}
                        <button type="submit" class="btn-comment">Envoyer</button>
                        {{form_end(commentForm)}} 
                    </div>
                {% else %}
                    <button class="btn-comment" id="btn-comment" aria-haspopup="dialog" aria-controls="dialog">Commenter</button>   
                {% endif %}
            </div>
        </div>
        <div class="map">
            <div id="map-container"></div>
        </div>
    </div>
</div>
<script src="{{ asset('js/toggle.js') }}"></script>
{% endblock %}
{% block javascripts %}

    <script src="https://unpkg.com/leaflet-geosearch@3.0.0/dist/geosearch.umd.js"></script>
    <script src="https://unpkg.com/leaflet@1.6.0/dist/leaflet.js" integrity="sha512-gZwIG9x3wUXg2hdXF6+rVkLF/0Vi9U8D2Ntg4Ga5I5BZpVkVxlJWbSQtXPSiUTtC0TjtGOmxa1AJPuV0CPthew==" crossorigin=""></script>
    <script> 

        var map = L.map('map-container').setView([48.866667, 2.333333], 12);

        L.tileLayer('//{s}.tile.openstreetmap.fr/osmfr/{z}/{x}/{y}.png', {
        attribution: 'donn&eacute;es &copy; <a href="//osm.org/copyright">OpenStreetMap</a>/ODbL - rendu <a href="//openstreetmap.fr">OSM France</a>',
        subdomains: ['a','b','c'],
        minZoom: 1,
        maxZoom: 20
        }).addTo(map);

        var query_addr = "{{artwork.adress}}";
            // Get the provider, in this case the OpenStreetMap (OSM) provider.
            var provider = new window.GeoSearch.OpenStreetMapProvider()
            // Query for the address
            var query_promise = provider.search({ query: query_addr});
            // Wait until we have an answer on the Promise
            query_promise.then( value => {
                for(i=0;i < value.length; i++){
                // Success!
                    var x_coor = value[i].x;
                    var y_coor = value[i].y;
                    var label = value[i].label;
                    // Create a marker for the found coordinates
                    var marker = L.marker([y_coor,x_coor]).addTo(map) // CAREFULL!!! The first position corresponds to the lat (y) and the second to the lon (x)
                    // Add a popup to said marker with the address found by geosearch (not the one from the user)
                    marker.bindPopup('<a href="{{ path('maps')}}"><b>{{artwork.name}}</b><br>'+label).openPopup();
                };
            }, reason => {
                console.log(reason); // Error!
                } );
    </script>

{% endblock %}
