{% extends 'base.html.twig'%}

{% block stylesheets %}
 <link rel="stylesheet" type="text/css" href="{{ asset('css/artwork.css') }}"/>
{% endblock %}

{% block body %}
<div class="artwork-container">
    <div class="artwork-picture">
        <img src="{{ artwork.picture }}" alt="">
        <div class="under-img">
            <svg class="like" width="30px" aria-hidden="true" focusable="false" data-prefix="fas" data-icon="heart" class="svg-inline--fa fa-heart fa-w-16" role="img" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512"><path fill="red" d="M462.3 62.6C407.5 15.9 326 24.3 275.7 76.2L256 96.5l-19.7-20.3C186.1 24.3 104.5 15.9 49.7 62.6c-62.8 53.6-66.1 149.8-9.9 207.9l193.5 199.8c12.5 12.9 32.8 12.9 45.3 0l193.5-199.8c56.3-58.1 53-154.3-9.8-207.9z"></path></svg>
            <p>{{ artwork.localisation }}</p>
        </div>
    </div>
    <div class="about-artwork">
        <h1>{{ artwork.name }}</h1>
        <div class="underName"></div>
        <h2>Une Oeuvre de  
        {% for artiste in artwork.artistes %}
            <a href="{{ path('show_artiste',{'id': artiste.id}) }}">{{ artiste.name }}</a>
        {% endfor %}
        </h2>
        <p>{{ artwork.description }}</p>
        <div class="comment-container">
            <h4>{{artwork.comments | length}} Commentaires:</h3>
            <br>
            {% for comment in artwork.comments %}
               <strong> {{ comment.user.name}}</strong> (<small>{{ comment.createdAt | date ('d/m/Y à H:i') }}</small>)
                {{ comment.content | raw }}
                </br>
            {% endfor %}

            {% if app.user %}
            {{form_start(commentForm)}}
            {{form_row(commentForm.content, {'label':' ', 'attr': {'placeholder': "Ajouter un commentaire"}})}}
            <button type="submit"class="dialog-btn">Envoyer</button>
            {{form_end(commentForm)}} 

            {% else %}
            <br>
            <a href="{{path('login')}}" class="dialog-btn">Connectez-vous pour laisser un commentaire</a>
            {% endif %}  
        </div>
    </div>
</div>
{% endblock %}